body {
  padding-bottom: 30px;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 3px solid #219cf4;
}

.navbar-brand img {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.submit-form {
  max-width: 600px;
  margin: auto;
}

.edit-form {
  max-width: 600px;
  margin: auto;
}

.form-group {
  width: 100%;
  display: block;
}
.form-group label {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.dropdown-toggle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.list-group-item {
  display: flex;
  align-items: center;
  padding: 1.35rem 1.25rem 0.75rem 1.25rem;
  word-break: break-word;
  cursor: pointer;
}


.list-group {
  max-height: 350px;
  overflow-y: auto;
}

.fill {
  min-height: 100%;
  height: 100%;
}

.list-group-item-icon {
  max-width: 30px;
  height: auto;
  width: 100%;
  margin-right: 30px;
}

.list-group-item.active .list-group-item-icon {
  filter: invert(1);
}

img {
  width: 100%;
  height: auto;
}

.dropdown-toggle .input-icon,
.input-icon{
  max-width: 30px;
  height: auto;
  margin-right: 10px;
  filter: invert(1);
  transition: filter .15s linear;
  pointer-events: none;
}

.dropdown-toggle:hover img {
  filter: unset;
}


label {
  text-transform: uppercase;
  font-weight: bold;
}


.list-icon {
  max-width: 150px;
}


.action-group {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 2;
}


.group-category {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.icon-category:first-child {
  margin-right: 20px;
}

.icon-category {
  background: #002039;
  padding: 4px;
  color: #fff;
  font-weight: bold;
  position: relative;
  font-size: 10px;
  max-width: 100px;
  max-height: 22px;
  word-break: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 7px;
}

.icon-category__format {
  background: orange;
}

.form-dynamic {
  display: flex;
  transition: .15s opacity linear;
}


.form-dynamic:hover {
  opacity: .9;
}

.form-dynamic button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-dynamic .btn-secondary {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-dynamic .btn-danger {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.form-dynamic div {
  display: flex;
  width: 100%;
  height: 3px;
  background: #6c757d;
}
.form-group__name {
  margin-bottom: 0;
  display: flex;
}

.form-group__name label,
.form-group__actor {
  margin-bottom: 0;
}

.form-group__actor {
  margin-top: 10px;
}

.table {
  word-break: break-word;
}

.table td, .table th {
  text-align: center;
}

.upload-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload-group button img {
  margin-right: 5px;
  max-width: 22px;
  height: auto;
}
.upload-group input {
  display: none;
}

.upload-container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.list-category {
  word-break: break-word;
}

